.plan__button {
  text-align: center;
  padding: 10px;
  border: none;
  width: 180px;
  border-radius: 0.25rem;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.plan__line {
  border-top: 2px solid;
  width: 80%;
  margin: 20px 10%; }

.plan__options {
  padding: 0 25px;
  text-align: left; }

li:before {
  content: "";
  display: block;
  background: url("../img/greenTick.png") no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 6px 0 0; }

.plan__options_notmarker {
  list-style-type: none; }

.plan__options_position {
  margin-bottom: 10px; }

.plan {
  display: flex;
  justify-content: center;
  width: 100%; }
  .plan__content {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
    min-width: 330px; }
    .plan__content_box {
      margin: 8px;
      width: 330px;
      border-radius: 0.25rem;
      background-color: white;
      opacity: 0.9;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s linear; }
      .plan__content_box:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); }
    .plan__content__heading {
      font-size: 26px; }
  .plan__background {
    background: url(../img/background_left.svg) left top, url(../img/background_right.svg) right bottom;
    background-repeat: no-repeat; }

.plan__price {
  text-align: center;
  font-size: x-large;
  font-weight: 500; }

.plan__title {
  text-align: center;
  padding: 3px;
  color: white;
  border-radius: 0.25rem;
  font-weight: 600; }
  .plan__title_main {
    text-align: center; }
  .plan__title_basic {
    background: #90acfa;
    border-color: #90acfa !important; }
  .plan__title_brand {
    background: #edb4ff;
    border-color: #edb4ff !important; }
  .plan__title_enterprise {
    background: #ba95ff;
    border-color: #ba95ff !important; }

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222b36; }
  .header__content {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1152px;
    padding: 0px 2rem; }
  .header__logo {
    cursor: pointer;
    height: 1.5rem;
    margin-right: auto; }
  .header__button {
    height: 3rem;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 1rem;
    transition: border-bottom 0.3s linear; }
    .header__button:hover {
      border: none;
      border-bottom: 2px solid #059bff; }

body {
  margin: 0; }
