.main_position {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main_content {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.basicPlan_figuration {
    background: rgb(165, 188, 252);
    border-radius: 0.25rem;
}

.brandPlan_figuration {
    background: rgb(243, 204, 255);
    border-radius: 0.25rem;
}

.enterprise_figuration {
    background: rgb(194, 164, 250);
    border-radius: 0.25rem;
}