.plan__options {
  padding: 0 25px;
  text-align: left;
}

li:before {
  content: "";
  display: block;
  background: url("/img/greenTick.png") no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 6px 0 0;
}

.plan__options_notmarker {
  list-style-type: none;
}

.plan__options_position {
  margin-bottom: 10px;
}
